.custom-button {
  font-family: 'Quicksand', sans-serif;
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 3px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: all .4s;

  &:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }
}
