.custom-button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  min-width: 165px;
  width:100%;
  height: 50px;
  letter-spacing: 1px;
  line-height: 50px;
  //padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all .4s;
  margin-bottom: 10px;

  &:hover {
    background-color: #242424;
    font-weight: bold;
  }
  &.google-sign-in {
    background-color: #4285f4;
    color: #ffffff;
    &:hover {
      background-color: #357ae8;
      border: none;
      font-weight: bold;
    }
  }
}
