.sign-in {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  .subtitle {
    font-weight: 100;
  }
}
.buttons-container {
  margin-top: 219px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 900px) {
  .buttons-container {
    margin-top: 30px;
  }
}