.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  .subtitle {
    font-weight: 100;
  }
}
.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}