.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .title {
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  .subtitle {
    font-weight: 100;
  }
}