.sign-in-sign-up {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
@media screen and (max-width: 900px) {
  .sign-in-sign-up {
    flex-direction: column;
    align-items: center;
    width: unset;
  }
}