.sign-up {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  .subtitle {
    font-weight: 100;
  }
}