.sign-up {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  .subtitle {
    font-weight: 100;
  }
}
.buttons-container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .sign-up {
    margin-top: 200px;
  }
}