.header {
  position: relative;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;

    .logo {
      position: absolute;
      top: 0;
      left: 0;
      height: 70px;
      transition: all .5s;
    }
    .logo:hover {
      height: 80px;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 21px;

    .option {
      padding: 10px 15px;
    }
    .option:hover {
      border-bottom: 1px solid #000000;
    }
  }
}
