.menu-item {
  position: relative;
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
  background-position: center;
  background-size: cover;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.6);
      transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      &--blend {
        background: rgba(0, 0, 0, .8);
        transition: all 3s;
      }
    }

    & .content {
      opacity: 0.9;
      transition: opacity 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    &--blend {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, .1);
    }
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0;
    position: absolute;
    z-index: 5;

    .title {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 20px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}