.menu-item {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  min-width: 30%;
  height: 240px;
  border: 1px solid #000000;
  margin: 0 7.5px 15px;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .content {
      opacity: 0.9;
    }
  }
}