body {
    padding: 20px 40px;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 900px) {
    body {
        padding: 10px 10px;
    }
}